.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
    background: #0000006e;
    backdrop-filter: blur(35px);
    padding: 0.8rem 8rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.2);
    text-shadow: 0 0 10px #fff;
}

.logo span {
    color: var(--primary);
}

.nav {
    display: flex;
    gap: 2rem;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav__link:hover {
    color: var(--primary);
    text-shadow: 0 0 10px #fff;
}

.cta__btn .btn,
.btn-nav {
    padding: 0.8rem 4rem;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta__btn .btn:hover {
    background-color: var(--highlight);
    box-shadow: 0 0 10px #fff;
}

.toggle__btn,
.btn-nav {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

@media (max-width: 1058px) {
    .header {
        padding: 0.8rem 2rem;
    }

    .nav {
        display: none;
    }

    .cta__btn {
        display: none;
    }

    .btn-nav {
        display: block;
    }

    .toggle__btn {
        display: block;
    }
}

.nav.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    right: 0;
    background: rgba(0, 0, 0, 0.753);
    padding: 2rem 4rem;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    animation: slideDown 0.3s ease;
    z-index: 1000;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.toggle__btn.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.toggle__btn.open .bar:nth-child(2) {
    opacity: 0;
}

.toggle__btn.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}